<h1>{{ pageTitle }}</h1>
<table class="table table-striped" *ngIf='licenses && licenses.length' sortable-table >
  <thead>
    <tr>
      <th sortable-column="createdBy">Created by</th>
      <th sortable-column="createdOnUtc">Creation date</th>
      <th sortable-column="customerCode">Customer code</th>
      <th sortable-column="expiresOnUtc">Expiry date</th>
      <th sortable-column="expiresAfterDays">Expires in</th>
      <th sortable-column="licenseeName">Customer</th>
      <th sortable-column="productName">Product</th>
      <th sortable-column="productReleaseVersion">Product version</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let license of licenses'>
      <td>{{license.createdBy}}</td>
      <td>{{license.createdOnUtc | date: 'short': '+600'}}</td>
      <td>{{license.customerCode}}</td>
      <td>{{license.expiresOnUtc | date: 'short': '+600' }}</td>
      <td>{{license.expiresAfterDays + ' days'}}</td>
      <td>{{license.licenseeName}}</td>
      <td>{{license.productName}}</td>
      <td>{{license.productReleaseVersion}}</td>
    </tr>
  </tbody>
</table>